
0x00-python-hello_world/8-main.py
0x00-javascript-warm_up/node_modules/.bin/acorn
0x00-javascript-warm_up/node_modules/.bin/esvalidate
0x00-javascript-warm_up/node_modules/.bin/esparse
0x00-javascript-warm_up/node_modules/.bin/eslint
0x00-javascript-warm_up/node_modules/.bin/js-yaml
0x00-javascript-warm_up/node_modules/.bin/json5
0x00-javascript-warm_up/node_modules/.bin/loose-envify
0x00-javascript-warm_up/node_modules/.bin/node-which
0x00-javascript-warm_up/node_modules/.bin/resolve
0x00-javascript-warm_up/node_modules/.bin/rimraf
0x00-javascript-warm_up/node_modules/.bin/semistandard
0x00-javascript-warm_up/node_modules/.bin/semver
0x00-javascript-warm_up/node_modules/.package-lock.json
0x00-javascript-warm_up/node_modules/@babel/code-frame/lib/index.js
0x00-javascript-warm_up/node_modules/@babel/code-frame/LICENSE
0x00-javascript-warm_up/node_modules/@babel/code-frame/package.json
0x00-javascript-warm_up/node_modules/@babel/code-frame/README.md
